<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEjJ6ez88wx_sZzOVkS3pDOH_QWGDaRgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>719041248773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapeye.bandula</string>
	<key>PROJECT_ID</key>
	<string>mobile-aaf0a</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-aaf0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719041248773:ios:23b1b6e47fb8f8c6bea66c</string>
</dict>
</plist>